{include file="header.html"}
<div id="rightTop">
    <p><b>{$lang.ss_jifen_detail}</b></p>
</div>
<div class="info">
<form method="POST" >
    <div class="order_form">
        <h1>{$lang.ss_jifen_detail}</h1>
        <table width="40%">
        <tr>
        	<td width="30%" height="30px">{$lang.buyer_id}:</td>
            <td>{$jifen_info.buyer_id}</td>
        </tr>
        <tr>
        	<td width="30%" height="30px">{$lang.buyer_name}:</td>
            <td>{$jifen_info.buyer_name}</td>
        </tr>
        <tr>
        	<td width="30%" height="30px">{$lang.seller_id}:</td>
            <td>{$jifen_info.seller_id}</td>
        </tr>
        <tr>
        	<td width="30%" height="30px">{$lang.seller_name}:</td>
            <td>{$jifen_info.seller_name}</td>
        </tr>
        <tr>
        	<td width="30%" height="30px">{$lang.add_time}:</td>
            <td>{$jifen_info.add_time|date:complete}</td>
        </tr>
        <tr>
        	<td width="30%" height="30px">{$lang.jifen}:</td>
            <td>{$jifen_info.jifen}</td>
        </tr>
        </table>
        <div class="clear"></div>
    </div>
    <div>
		<input type="button" value="{$lang.submit}" onclick="go('index.php?app=ss_jifen&amp;act=submit&amp;id={$jifen_info.ss_id}')" name="Submit">
        <input type="button" value="{$lang.failure}" onclick="go('index.php?app=refund&amp;act=failure&amp;id={$jifen_info.ss_id}')" name="Submit" >
    </div>
</div>
</form>
{include file="footer.html"}
